<div class='col-3' style='background-color: #F5F5F5;'>

  <h5 class="text-muted my-3 font-weight-bold">Sponsored</h5>
  <div class="line"></div>
  <h5 class="text-muted my-3 font-weight-bold">Birthdays</h5>
  <div class="line"></div>
  <h5 class="text-muted my-3 font-weight-bold">Contacts</h5>

</div>