<!-- invisible div to take place of absolutely positioned one -->
<div id='right-chat' class='col-3'></div>


<div id='right-chat' class='col-3 position-fixed' style='min-height: 90vh; right: 0px;background-color: #F5F5F5;'>

  <h6 class="text-muted my-3 font-weight-bold">Sponsored</h6>
  <div class="line"></div>
  <h6 class="text-muted my-3 font-weight-bold">Birthdays</h6>
  <div class="line"></div>
  <div class='row my-3'>
    <h6 class='col-6 text-muted font-weight-bold'>Contacts</h6>
    <div class='col-6 d-flex justify-content-between'>
    <i class="fas fa-video"></i>
    <i class="fas fa-search"></i>
    <i class="fas fa-ellipsis-h"></i>
    </div>
  </div>

</div>