
<div class='container-fluid' style='background-color: #F5F5F5; min-height: 650px;'>
  <div class='row'>
    <%= render 'leftnav' %>
    <%= render 'posts' %>
    <%= render 'rightchat' %>
  </div>
</div>

