
<div class='form-group w-50 mx-auto'>
  <%= form_for @comment, url: post_comments_path(@post) do |f| %>

    <div class='form-group pt-4'>
      <%= f.text_area :body, cols: 10, rows:10, placeholder: "Text of your comment", class:'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.submit :save, value: 'Save Comment', class: 'btn btn-info px-3 py-2'%>
    </div>

  <% end %>
</div>