
<div class='container-fluid px-5' style='background-color: #F5F5F5;'>

  <h1 class='py-3'>Friends Suggestions</h1>

  <div class='line my-2'></div>
  <div class='container-fluid' style='min-height: 64vh'>
    <% @users.each do |possible_friend| %>
      <div class='my-4'>
        <% if possible_friend.profile_picture.attachment %>
          <%= image_tag(possible_friend.profile_picture, size: '40x40') %>
        <% else %>
          <%= image_tag 'no_profile_pic.jpg', size: '40x40' %>
          
        <% end %>
        <%= link_to possible_friend.first_name + ' ' + possible_friend.last_name, profile_path(possible_friend), class:'text-dark h2' %>
        <%= link_to 'Send Friend Request!', '#', class:'ml-5 btn btn-outline-dark btn-primary text-light'%>
        <br>
      </div>
    <% end %>
  </div>
</div>