
<h1>Friends Suggestions</h1>

<div class='line my-2'></div>

<% @users.each do |possible_friend| %>
  <%= link_to possible_friend.username, profile_path(possible_friend), class:'text-dark h2' %>
  <%= link_to 'Send Friend Request!', '#', class:'btn btn-outline-dark btn-primary text-light'%>
  <br>
<% end %>