<div class='facebook-intro d-inline-block' style='width: 500px; padding-right: 52px; padding-top: 40px; margin-right:45px;'>
  <%= image_tag "https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg", size: '301x106', style:'margin-left: -28px;' %>
  <h3 class='text-dark'>Connect with friends and the world around you on Facebook.</h3>
</div>
