 <div class='container-fluid footer pt-3' style='width: 1000px;'%>

  <p style='font-size: 13px; color: #A0A0A0'>
  <span>English(US)</span>&nbsp;
  <span>Romana</span>&nbsp;
  <span>Magyar</span>&nbsp;
  <span>Italiano</span>&nbsp;
  <span>Español (España)</span>&nbsp;
  <span>Français (France)</span>&nbsp;
  <span></span>&nbsp;
  <span>Türkçe</span>&nbsp;
  <span>Português (Brasil)</span>&nbsp;
  <span>العربية</span>&nbsp;
  <span>हिन्दी</span>
  </p>

  <hr  />

  <p style='font-size: 13px; color: #A0A0A0'>
  <span>Sign up</span>&nbsp;&nbsp;&nbsp;
  <span>Log in</span>&nbsp;&nbsp;&nbsp;
  <span>Messenger</span>&nbsp;&nbsp;&nbsp;
  <span>Facebook Lite</span>&nbsp;&nbsp;&nbsp;
  <span>Watch</span>&nbsp;&nbsp;&nbsp;
  <span>People</span>&nbsp;&nbsp;&nbsp;
  <span>Pages</span>&nbsp;&nbsp;&nbsp;
  <span>Page Categories</span>&nbsp;&nbsp;&nbsp;
  <span>Games</span>&nbsp;&nbsp;&nbsp;
  <span>Locations</span>&nbsp;&nbsp;&nbsp;
  <span>Marketplace</span>&nbsp;&nbsp;&nbsp;
  <span>Facebook Pay</span>&nbsp;&nbsp;&nbsp;
  <span>Groups</span>&nbsp;&nbsp;&nbsp;
  <br/>

  <span>Oculus</span>&nbsp;&nbsp;&nbsp;
  <span>Portal</span>&nbsp;&nbsp;&nbsp;
  <span>Instagram</span>&nbsp;&nbsp;&nbsp;
  <span>Local</span>&nbsp;&nbsp;&nbsp;
  <span>Fundraisers</span>&nbsp;&nbsp;&nbsp;
  <span>Services</span>&nbsp;&nbsp;&nbsp;
  <span>About</span>&nbsp;&nbsp;&nbsp;
  <span>Create Ad</span>&nbsp;&nbsp;&nbsp;
  <span>Create Page</span>&nbsp;&nbsp;&nbsp;
  <span>Careers</span>&nbsp;&nbsp;&nbsp;
  <span>Privacy</span>&nbsp;&nbsp;&nbsp;
  <span>Cookies</span>&nbsp;&nbsp;&nbsp;
  <span>Ad Choices</span>&nbsp;&nbsp;&nbsp;
  <span></span>&nbsp
  <br/>

  <span>Terms</span>&nbsp;&nbsp;&nbsp;
  <span>Help</span>&nbsp;&nbsp;&nbsp;

  <br/>
  <br/>
  <span>Facebook &copy; 2020</span>
  </p>
</div>