<div class='navbar' style='background-color: white;'>  
  <%= link_to home_path do %>
    <%= image_tag 'fb_logo.svg', size: '40'  %>
  <% end %>

  <% if current_user %>
    <%= link_to 'Sign Out', destroy_session_path(current_user), method: :delete, class:'text-danger h5 font-weight-bold' %>
  <% end %>    
  
</div>
<div id='navbar-line' class='line'></div>