


<div class='m-0 p-0 navbar border-bottom border-light position-sticky sticky-top row' style='background-color: white;'>  

  <!-- left (intro and searchbar) -->
  <div class='col-3 d-flex'>
    <%= link_to home_path do %>
      <i class="fab fa-facebook" style='font-size: 40px' >&nbsp;</i>
    <% end %>
    
      <i class="fas fa-search p-2 bg-light rounded-circle" style='font-size: 25px'></i>

  </div>

  <!-- middle (fontawesome icons) -->
  <div class='fas-div col-6 d-flex'>
    <div class='fa-div py-2 w-100 text-center text-primary blue-border border-3'>
      <i class="fas fa-house-user"></i>
    </div>
    <div class='fa-div py-2 w-100 text-center'>
      <i class="far fa-user"></i>
    </div>
    <div class='fa-div py-2 text-center w-100'>
      <i class="fas fa-tv"></i>
    </div>
    <div class='fa-div py-2 text-center w-100'>
      <i class="fas fa-bullhorn"></i>
    </div>
    <div class='fa-div py-2 text-center w-100'>
      <i class="fas fa-bars"></i>
    </div>
  </div>

  <!-- right (profile things) Adding d-flex and jc-end just for now--> 
  <div class='col-3 d-flex justify-content-end'>
    <%= link_to '' do %>
      <div data-toggle='collapse' data-target='#top-nav-dropdown'><i class="fas fa-chevron-circle-down" style='font-size: 30px; color:lightgray;'></i></div>
    <% end %>
    <div class='collapse' id='top-nav-dropdown'>
      <%= link_to destroy_user_session_path, method: :delete do %>
      <% end %>
    </div>
  </div>

</div>

<script>

fadivs = document.querySelectorAll('.fa-div');
fadivs.forEach(element => {
    element.addEventListener('click', function() {
        element.classList.add('blue-border');
        element.classList.add('border-3');
    });
});
</script>