
<div class='container-fluid p-0' style='padding-top: 100px;background-color: #f5f5f5;min-height:80vh;'>
  <div class='wrapper' style='min-height:700px; padding-top:112px; padding-bottom: 112px;'>
  <div class='wrapper mx-auto' style='width:980px'>
    <%= render 'fb-intro' %>

    <%= render 'login' %>
  </div>
</div>
