<div class='container-fluid' style='height: 500px'>
  <%= link_to 'Upload profile picture', '/users/edit' %>
  <h2 class='pt-2'><%= @user.fullname %></h2>
  <h4 class='pt-2'>Email: <%= @user.email %></h4>
</div>