<div class='container-fluid py-3' style='background-color: #F5F5F5; min-height: 75vh'>
  <%= link_to 'Upload profile picture', '/users/edit', class:'h4' %>
  <h2 class='pt-2'><%= @user.fullname %></h2>
  <h4 class='pt-2'>Email: <%= @user.email %></h4>
</div>