// Place all the styles related to the feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.gray-hover:hover {
  background-color: rgb(231, 231, 231);
}

.left-navbar-link{
  text-decoration: none;
}

@media (max-width: 768px) {


  #right-chat, #rightchat {
    display: none;
  }
}

@media (max-width: 992px) {
  #left-nav, #leftnav {
    display: none;
  }
}

.likes {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 51;
  background-color:rgba(244, 244, 244, 0.8);
}

.within-likes {
  background-color: white;
  border-radius: 10px;
  width: 47%;
  height: 70%;
  left: 27%;
  top: 16%;

}