// Place all the styles related to the feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.gray-hover:hover {
  background-color: rgb(231, 231, 231);
}

.left-navbar-link{
  text-decoration: none;
}

@media (max-width: 768px) {


  #right-chat, #rightchat {
    display: none;
  }
}

@media (max-width: 992px) {
  #left-nav, #leftnav {
    display: none;
  }
}

#likes {
  left: 0px;
  top: 61px;
  z-index: 15;
  width: 100%;
  height: 100%;
  
  background-color: rgba(255, 0, 0,0.2);
}

#within-likes {
  background-color: white;
  border-radius: 10px;
  width: 50%;
  height: 70%;
  margin: 60px auto 0px auto;

}