// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-row {
  background-color: #F5F5F5;
  min-height: 80vh;
  padding-top: 8rem;
}


.padding-y {
  padding-top: 20px;
  padding-bottom: 20px;
}

.fas-div {
  font-size: 22px;
  color: gray;
  font-weight: 400;
}

.fa-div:hover {
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
}

.blue-border {
  border-bottom: 1px solid #0000ff;
}
.border-3 {
  border-width: 3px;
}
#cover-photo {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.change-profile-picture {
  background-color: rgb(170, 170, 170);
}

.change-cover-photo {
  background-color: rgb(170, 170, 170);
}
#cover-picture {
  width: 851px;
  height: 351px;
  object-fit: cover;
}

.object-fit-cover{
  object-fit: cover;
}