<h3 class='text-center mt-3 ' > Update profile Information </h3>

<div class='container-fluid py-2 my-2 w-50 mx-auto' style='min-height: 60vh;'>
  <%= form_with url: edit_info_put_path(@user), method: :put, local: true do |f| %>
    <%= f.label :city %>
    <%= f.text_field :city, class:'form-control'  %>

    <%= f.submit :update, value: 'Update', class:'mt-3 mx-auto btn btn-secondary' %>
  <% end %>
</div>